/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap');


/* General styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ebf1ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  margin-top: -40px; /* Move everything up by approximately one line */
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 2.2rem;
  max-width: 800px;
  margin: 0 auto 20px;
  color: #555;
}

.bold-text {
  font-weight: 700;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #21a1f1;
}

/* Circular profile image */
.profile-image {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #61dafb;
  margin-top: 10px; /* Adjust margin-top for smaller spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add smooth transitions */
img, .App-link {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

.App-link:hover {
  transform: translateY(-2px);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  flex: 1;
  text-align: left;
}

.image-container {
  flex: 1;
  text-align: right;
}

.profile-image {
  width: 70%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width for larger screens */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
  border: 4px solid #61dafb; /* Increase border size for emphasis */
  margin-top: 30px; /* Reduce top margin for spacing */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance box shadow for depth */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .App-header {
    padding: 60px 10px; /* Reduce padding for smaller screens */
  }

  h2 {
    font-size: 3rem; /* Decrease font size for smaller screens */
  }

  p {
    font-size: 1.8rem; /* Decrease font size for smaller screens */
  }

  .profile-image {
    width: 80%; /* Adjust image width for smaller screens */
    max-width: 300px; /* Adjust max-width for smaller screens */
    margin-top: 20px; /* Adjust top margin for smaller screens */
  }
}
